:root {
  --sl-color-black: hsl(224, 10%, 10%);
  /* --sl-color-black: rgba(17, 17, 17, 1); */
  --sl-color-gray-7: hsl(227, 14%, 13%);
  --sl-color-bg-nav: var(--sl-color-gray-7);
  --sl-color-bg-sidebar: var(--sl-color-gray-7);
  --sl-content-width: 60rem;
}

.astro-code {
  border-radius: 8px;
}

[data-theme='light'] .bg-example {
  @apply bg-neutral-100;
}

[data-theme='dark'] .bg-example {
  @apply bg-dark-900;
}
